.download_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 11rem;
    padding: 0.6rem 0.9rem 0.6rem 0;
    flex-shrink: 0;
}

.status_label {
    color: var(--dark_400_color);
    font-size: 1.1rem;
    line-height: 1.35;
    text-align: center;
}

.progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress_label {
    position: absolute;
    font-size: 1rem;
}

.update_button {
    padding: 0.8rem 1rem;
    border: 0.1rem solid rgba(var(--accent_color_rgb), 0.36);
    border-radius: 0.6rem;
    background-color: rgba(var(--accent_color_rgb), 0.18);
    pointer-events: auto;
    flex-shrink: 0;
    transition: var(--transition_ui);

    &:hover {
        background-color: rgba(var(--accent_color_rgb), 0.26);
    }

    &:active {
        background-color: rgba(var(--accent_color_rgb), 0.12);
    }
}

.update_button_label {
    font-size: 1.2rem;
}
